/* Resets */

* {
    box-sizing: border-box;
}

h1, h2, h3, p, nav ul {
    margin: 0;
    padding: 5px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
   
nav ul {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
}

a {
    /*text-decoration: none;*/
    color: blue;
}

/* Typography */

h1 {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;

    font-size: 40px;
}   

h2 {
    font-family: "Chewy", system-ui;
    font-weight: 400;
    font-style: normal;

    font-size: 26px;
}

h3, button, p, ol li, input, #sources {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    font-style: normal;

    line-height: 1.5em;
}

#result {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    font-style: normal;

    font-size: 48px;
    text-align: center;
}

#score {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    font-style: normal;

    font-size: 40px;
    text-align: center;
}
h3 {
    font-size: 28px;
}

button {
    font-size: 18px;
}

.fa-xmark {
    font-size: 48px;
    transition: all 0.2s ease-in-out;
}

#game-name {
    font-size: 28px;
}

#game-status, #timer, #server-status, #info, #hand, #game-actions, #game-actions button {
    font-size: 28px;
}

#timer {
    text-align: center;
}

#server-status p {
    font-style: italic;
}

.under {
    text-decoration: underline;
}

.card p {
    text-align: center;
}

/* Colors */

body {
    background-color: #70CDFF;
}

#rules-overlay {
    background-color: lightgray;
}

input {
    background-color: #f2f2f7;
    border: 0.5px black solid;
    border-radius: 3px;
}  

#game-overlay, #results-overlay {
    background-color: #70CDFF;
}

.fa-xmark {
    color: lightcoral;
}

.under {
    background-color: #70CDFF;
}

.red {
    color: red;
}

.card {
    background-color: #D1DFE0;
}

/* Layout */

button {
    border: none;
    border-radius: 8px;
    padding: 5px 15px;
}

h1, h2 {
    text-align: center;
}

h1 {
    padding: 1.5svh 0;
}

h2:first-of-type {
    padding-top: 17.5svh;
    padding-bottom: 2.5svh;
}

#tagline, #actions, #rules-container {
    display: flex;
    justify-content: center;
}

#tagline {
    flex-direction: column;
    align-items: center;
    
    padding: 2svh 1svw;
}

#actions {
    display: flex;
    gap: 50px;

    padding-top: 2svh;
}

#create-room-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    width: 20svw;
}

#join-room-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    width: 20svw;
}

#rules-container {
    margin: 3svh 3svw;
}

#rules-overlay {
    width: 70svw;
    height: 70svh;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: none;
    overflow-y: scroll;
    z-index: 1;

    padding: 7.5svh 6svw;
}

#rules-overlay h3 {
    margin-bottom: 10px;
}

.fa-xmark {
    position: absolute;
    top: 2%;
    right: 2%;

    padding: 1svh 1svw;
}

.under {
    padding: 0;
}

#sources {
    position: absolute;
    bottom: 5svh;
    right: 5svw;

}
/* Game Screen */

#game-overlay {
    width: 100svw;
    height: 100svh;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: none; 
    z-index: 2;

    padding: 6svh 5svw;
}

#game-name {
    padding-top: 0px;
    text-align: left;
}

#timer {
    position: absolute;
    top: 6svh;
    right: 5svw;
    
}

#timer p {
    padding-top: 0;
    padding-right: 0;
}

#sound {
    position: absolute;
    top: 6svh;
    right: 14svw;
}

#server-status {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -150%);
}

#info {
    padding-top: 27svh;

    display: flex;
    justify-content: space-between;
}

#info p {
    margin-top: auto;
    padding-bottom: 0;
}

#game-actions {
    display: flex;
    flex-direction: column;
    gap: 0.5svh;

    width: 12.5svw;

    margin-top: auto;
}

#hand {
    display: flex;
    justify-content: center;
    gap: 3svw;

    padding-top: 2svw;
}

.card {
    width: 10svw;
    height: 27svh;

    border: 1px solid black;
    border-radius: 10px;
    padding: 4svh 2svw;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1svh;

    transition: outline 0.1s ease-in-out;
}

.card img {
    height: 50%;
    width: auto;
}

/* Results Overlay */

#results-overlay {
    width: 100svw;
    height: 100svh;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: none; 
    z-index: 2;

    padding: 6svh 5svw;
}

#result {
    position: absolute;
    top: 35svh;
    left: 50svw;
    transform: translate(-50%, -50%);
}

#score {
    position: absolute;
    top: 48svh;
    left: 50svw;
    transform: translate(-50%, -50%);
}  

#results-buttons {
    display: flex;
    flex-direction: column;
    gap: 2svh;

    position: absolute;
    top: 75svh;
    left: 50svw;
    transform: translate(-50%, -50%);
}

/* Interactivity */

button:hover {
    background-color: darkgrey;
    transition: background-color 0.2s ease-in-out;
}

.inactive {
    background-color: darkgray;
    pointer-events: none;
    cursor: not-allowed;
}

.under:hover {
    background-color: inherit;
    font-weight: 600;
}

.card:hover {
    outline: 4px grey solid;
}

.selected {
    outline: 4px red solid;
    transition: outline 0.2s ease-in-out;
}

.card.selected:hover {
    outline: 4px red solid;
    transition: outline 0.2s ease-in-out;
}

.fa-xmark:hover {
    transform: translateX(-2px);
    transform: translateY(-2px);
    font-size: 52px;

    transition: all 0.2s ease-in-out;
}

/* Responsive Design */