/* Resets */

* {
    box-sizing: border-box;
}

h1, h2, h3, p, nav ul {
    margin: 0;
    padding: 5px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
   
nav ul {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Typography */

h1 {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;

    font-size: 40px;
}   

h2 {
    font-family: "Chewy", system-ui;
    font-weight: 400;
    font-style: normal;

    font-size: 26px;
}

h3, button, p, ol li {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    font-style: normal;

    line-height: 1.5em;
}

h3 {
    font-size: 28px;
    line-height: 1.5em;
}

.fa-xmark {
    font-size: 48px;
    transition: all 0.2s ease-in-out;
}

/* Colors */

body {
    background-color: #70CDFF;
}

#rules-overlay {
    background-color: lightgray;
}

.fa-xmark {
    color: lightcoral;
}

/* Layout */

button {
    border: none;
    border-radius: 8px;
    padding: 5px 15px;
}

h1, h2 {
    text-align: center;
}

h1 {
    padding: 1.5svh 0;
}

h2:first-of-type {
    padding-top: 17.5svh;
    padding-bottom: 2.5svh;
}

#tagline, #actions, #rules-container {
    display: flex;
    justify-content: center;
}

#tagline {
    flex-direction: column;
    align-items: center;
    
    padding: 2svh 1svw;
}

#actions {
    display: flex;
    gap: 50px;

    padding-top: 2svh;
}

#create-room-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    width: 20svw;
}

#join-room-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    width: 20svw;
}

#rules-container {
    margin: 3svh 3svw;
}

#rules-overlay {
    width: 70svw;
    height: 70svh;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: none;
    z-index: 1;

    padding: 7.5svh 6svw;
}

.fa-xmark {
    position: absolute;
    top: 2%;
    right: 2%;

    padding: 1svh 1svw;
}

/* Interactivity */

button:hover {
    background-color: darkgrey;
    transition: background-color 0.2s ease-in-out;
}

.fa-xmark:hover {
    transform: translateX(-2px);
    transform: translateY(-2px);
    font-size: 52px;

    transition: all 0.2s ease-in-out;
}

/* Responsive Design */